<?xml version="1.0"?>

  <connectionStrings>
    <add name="SiteSqlServer" connectionString="Password=111111;Persist Security Info=True;User ID=sa;Initial Catalog=DB_BetaUN;Data Source=(local)" />

    <add name="MongoDB" connectionString="Servers=localhost:27017;ConnectTimeout=30000;ConnectionLifetime=300000;MinimumPoolSize=64;MaximumPoolSize=256;Pooled=true" />

  </connectionStrings>

